<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <meta name="theme-color" content="#f21131">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css">

  <link rel="shortcut icon" href="{{ "/assets/fav/favicon.ico" | relative_url }}">
  <link rel="icon" sizes="16x16 32x32 64x64" href="{{ "/assets/fav/favicon.ico" | relative_url }}">
  <link rel="icon" type="image/png" sizes="196x196" href="{{ "/assets/fav/favicon-192.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="160x160" href="{{ "/assets/fav/favicon-160.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/fav/favicon-96.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ "/assets/fav/favicon-64.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/fav/favicon-32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/fav/favicon-16.png" | relative_url }}">
  <link rel="apple-touch-icon" href="{{ "/assets/fav/favicon-57.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/fav/favicon-114.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/fav/favicon-72.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/fav/favicon-144.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/fav/favicon-60.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/fav/favicon-120.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/fav/favicon-76.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/fav/favicon-152.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/fav/favicon-180.png" | relative_url }}">
  <meta name="msapplication-TileColor" content="#f21131">
  <meta name="msapplication-TileImage" content="{{ "/assets/fav/favicon-144.png" | relative_url }}">
  <meta name="msapplication-config" content="{{ "/assets/fav/browserconfig.xml" | relative_url }}">

  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>