body {
	overflow-x: hidden;
}

div.spacer {
	width: 100%;
	height: 50px;
}

.navbar.bg-scarlet.scrolled {
	background-color: #333;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media only screen and (max-width: 768px) {
   .navbar.bg-scarlet {
		background-color: #333 !important;
	  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	}

	.navbar-collapse {
		background: #333 !important;
	} 
	.navbar > .container { 
		max-width: 100%; 
		max-height: 100%;
		padding: 0; 
	}
}

@media only screen and (min-width: 769px) { 
	#navbarCollapse {
		height: 100%;
	}
}

.navbar.bg-scarlet {
	background-color: transparent;
	transition: background-color 0.5s ease;
	transition: box-shadow 0.5s ease;
	padding: 0;
	border-top: 3px solid #f21131;
	height: 55px;
}

.fab {
	color: #f21131;
}

.shadow {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#cover {
	width: 100vw;
	height: 50vh;
	background-image: url("/assets/img/skyline.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

#cover h1 {
	z-index: 2;
	padding: 10px;
}


ul.navbar-nav {
	height: 100%;
}

a.navbar-brand {
	padding: 10px;
}

a.nav-link:hover {
	border-bottom: 3px solid #f21131;
}

.navbar.bg-scarlet a {
	color: white;
}

.navbar.bg-scarlet a.nav-link {
	color: white;
	height: 100%;
	padding: 10px;
}

.nav-item.active {
	color: white;
	background-color: #f21131;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #333;
  color: white;
  text-align: center;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
  border-bottom: 3px solid #f21131;
}
