body {
	overflow-x: hidden;
}

.spacer {
	width: 100%;
	height: 55px;
}

.spacer-sm {
  width: 100%;
  height: 25px;
}

.navbar.bg-scarlet.scrolled {
	background-color: #333;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nav-spacer {
	width: 100vw;
	height: 55px;
}

@media only screen and (max-width: 768px) {
   .navbar.bg-scarlet {
		background-color: #333 !important;
	  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	}

	.navbar-collapse {
		background: #333 !important;
	} 
	.navbar > .container { 
		max-width: 100%; 
		max-height: 100%;
		padding: 0; 
	}
}

@media only screen and (min-width: 769px) { 
	#navbarCollapse {
		height: 100%;
	}
}

.navbar.bg-scarlet {
	background-color: transparent;
	transition-property: background-color, box-shadow;
	transition-duration: .5s;
	padding: 0;
	border-top: 3px solid #f21131;
	height: 55px;
}

.fab, .fas {
	color: #f21131;
}

footer i {
    font-size: 1.5rem;
    vertical-align: middle;
}

.shadow {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}




ul.navbar-nav {
	height: 100%;
}

a.navbar-brand {
	padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a.navbar-brand > img {
  height: 32px;
  width: 32px;
  margin-right: 10px; 
}

a.nav-link:hover {
	border-bottom: 3px solid #f21131;
}

.navbar.bg-scarlet a {
	color: white;
}

.navbar.bg-scarlet a.nav-link {
	color: white;
	height: 100%;
	padding: 10px;
}

.nav-item.active {
	color: white;
	background-color: #f21131;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #333;
  color: white;
  text-align: center;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
  border-bottom: 3px solid #f21131;
}

#mc_embed_signup {
  clear: left; 
  font-size: 16px; 
  width: 100%;
}