---
layout: default
---

<style type="text/css" media="screen">
	#cover {
		width: 100%;
	}

	#cover > img {
		width: 100%;
	}

	a {
		color: #860000;
		text-decoration: none;
		transition: color 0.25s ease;
	}

	a:hover {
		color: #f21131;
		text-decoration: none;
	}
</style>

<div class="spacer"></div>
<!--div id="cover">
	<img src="{{ "/assets/img/googled.png" | relative_url }}" alt="hidden">
</div-->
<div class="container">
	<section>

		{{ content }}
		
	</section>
</div>
<div class="spacer"></div>