---
layout: default
---

<style type="text/css" media="screen">
	.responsiveCal {
		position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
	}
	 
	.responsiveCal iframe {
		position: absolute; top:0; left: 0; width: 100%; height: 100%;
	}

	h1 {
		text-align: center;
	}
</style>

<div class="nav-spacer"></div>

<div class="spacer"></div>
<h1>Calendar of Events</h1>
<div class="responsiveCal container">
	<iframe src="https://calendar.google.com/calendar/embed?src=bu.edu_2tgscovqa4tvgvj15arf6a8vvk%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<div class="spacer"></div>