---
layout: default
---

<style type="text/css" media="screen">
	#cover {
		width: 100vw;
		height: 50vh;
		background-image: url("{{ "/assets/img/skyline.jpg" | relative_url }}");
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    color: white;
	    position: relative;
	}

	#cover h1 {
		z-index: 2;
		padding: 10px;
	}
</style>

<div class="nav-spacer d-block d-lg-none"></div>

<div id="cover">
	<h1>The Massachusetts Eta Chapter of Upsilon Pi Epsilon</h1>
	<div class="shadow"></div>
</div>

<div class="spacer"></div>

<div class="container">

  {{ content }}

  <hr>

  <section>
    <div id="mc_embed_signup">
    <form action="https://upe.us19.list-manage.com/subscribe/post?u=e926ed9c6e5e27338c6e5452c&amp;id=ffa7b765f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Signup for our mailing list!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e926ed9c6e5e27338c6e5452c_ffa7b765f8" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
  </section>

  <hr>

</div>

<div class="spacer-sm"></div>