---
layout: default
---

<style type="text/css" media="screen">
	#cover {
		width: 100vw;
		height: 50vh;
		background-image: url("/assets/img/skyline.jpg");
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    color: white;
	    position: relative;
	}

	#cover h1 {
		z-index: 2;
		padding: 10px;
	}
</style>

<div class="nav-spacer d-block d-lg-none"></div>

<div id="cover">
	<h1>The official website of the Boston University Chapter of Upsilon Pi Epsilon</h1>
	<div class="shadow"></div>
</div>

<div class="spacer"></div>

<div class="container">
	<section>
		<h1>Our Mission<br>
		<small class="text-muted">Because we're cool and have missions</small></h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia tristique odio, et posuere ligula porttitor sit amet. Cras vitae ligula sed ante malesuada ultrices. Integer a egestas justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit tincidunt tellus, sed condimentum arcu consectetur eu. In dapibus odio sit amet nunc imperdiet, id feugiat nulla scelerisque. Donec a eros arcu. Maecenas eu diam ullamcorper, viverra enim non, rutrum justo. Suspendisse potenti. Vivamus nec laoreet ligula. Mauris eu egestas ipsum. Etiam vitae laoreet nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur ante tortor, dignissim et tincidunt non, viverra eget sem. Vestibulum tincidunt enim ut accumsan volutpat. Sed vitae maximus eros.
		</p>
	</section>
	<section>
		<h1>Another Section<br>
		<small class="text-muted">Can't have just one</small></h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia tristique odio, et posuere ligula porttitor sit amet. Cras vitae ligula sed ante malesuada ultrices. Integer a egestas justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit tincidunt tellus, sed condimentum arcu consectetur eu. In dapibus odio sit amet nunc imperdiet, id feugiat nulla scelerisque. Donec a eros arcu. Maecenas eu diam ullamcorper, viverra enim non, rutrum justo. Suspendisse potenti. Vivamus nec laoreet ligula. Mauris eu egestas ipsum. Etiam vitae laoreet nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur ante tortor, dignissim et tincidunt non, viverra eget sem. Vestibulum tincidunt enim ut accumsan volutpat. Sed vitae maximus eros.
		</p>
	</section>
	<section>
		<h1>A final section<br>
		<small class="text-muted">Keep em coming</small></h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia tristique odio, et posuere ligula porttitor sit amet. Cras vitae ligula sed ante malesuada ultrices. Integer a egestas justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit tincidunt tellus, sed condimentum arcu consectetur eu. In dapibus odio sit amet nunc imperdiet, id feugiat nulla scelerisque. Donec a eros arcu. Maecenas eu diam ullamcorper, viverra enim non, rutrum justo. Suspendisse potenti. Vivamus nec laoreet ligula. Mauris eu egestas ipsum. Etiam vitae laoreet nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur ante tortor, dignissim et tincidunt non, viverra eget sem. Vestibulum tincidunt enim ut accumsan volutpat. Sed vitae maximus eros.
		</p>
	</section>
</div>

<div class="spacer"></div>