---
layout: default
---

<style type="text/css" media="screen">
	.container {
		text-align: center;
	}
	.card-img-top {
	    width: 75%;
	    margin: 10% auto;
	}
	.card-wrapper {
		display: flex;
		flex-wrap: wrap;
     	justify-content: space-around;
	}
	.card {
		width: 300px;
	    border: 0;
	    margin-bottom: 25px;
	    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	
</style>

<div class="nav-spacer"></div>

<div class="spacer"></div>

<div class="container">
	<section>
		<h1>Officers</h1>

		<div class="card-wrapper">
			{% for person in page.officers %}
				<div class="card" style="width: 18rem;">
				  {% assign urlhead = '/assets/img/' %}
				  {% assign url = urlhead | append: person[1].img %}
				  <img class="card-img-top rounded-circle" src="{{ url | relative_url }}">
				  <div class="card-body">
				    <h5 class="card-title">{{ person[1].name }}</h5>
		    		<h6 class="card-subtitle mb-2 text-muted">{{ person[1].title }}</h6>
				    <p class="card-text">{{ person[1].desc }}</p>
				  </div>
				</div>
			{% endfor %}
		</div>

	</section>
	<section>
		<h1>Members</h1>

		<div class="card-wrapper">
			{% for person in page.members %}
				<div class="card" style="width: 18rem;">
				  {% assign urlhead = '/assets/img/' %}
				  {% assign url = urlhead | append: person[1].img %}
				  <img class="card-img-top rounded-circle" src="{{ url | relative_url }}">
				  <div class="card-body">
				    <h5 class="card-title">{{ person[1].name }}</h5>
				    <p class="card-text">{{ person[1].desc }}</p>
				  </div>
				</div>
			{% endfor %}
		</div>

	</section>
	<section>
		<h1>Alumni</h1>

		<div class="card-wrapper">
			{% for person in page.alumni %}
				<div class="card" style="width: 18rem;">
				  {% assign urlhead = '/assets/img/' %}
				  {% assign url = urlhead | append: person[1].img %}
				  <img class="card-img-top rounded-circle" src="{{ url | relative_url }}">
				  <div class="card-body">
				    <h5 class="card-title">{{ person[1].name }}</h5>
				    <p class="card-text">{{ person[1].desc }}</p>
				  </div>
				</div>
			{% endfor %}
		</div>

	</section>	
</div>

<div class="spacer"></div>